$screen-mobile: 480px;

html body {
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
}

img {
    max-width: 100%;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #fff url('../img/templates/ben-1.png') no-repeat top left; 
    background-size: cover;
    transition: .2s;
    min-width: 1280px;
}

.form {
    position: relative;
    padding: 15px;
    margin: 15px;
    margin-left: 604px;
    max-width: 600px;
    min-height: 300px;
    width: 100%;
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btn {
    display: inline-block;
    font-weight: 700;
    color: white;
    text-decoration: none;
    border: 0;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 3px;
    background: rgb(64, 199, 129);
    box-shadow: 0 -3px rgb(53, 167, 110) inset;
    transition: 0.2s;
    max-width: 200px;
    width: 100%;
    cursor: pointer;
}

.btn:focus,
.btn:hover {
    background: rgb(33, 147, 90);
    box-shadow: 0 3px rgb(33, 147, 90) inset;
}

.result {
    display: block;
    align-items: center;
    font-size: 900%;
    margin-bottom: 15px;
    line-height: 1.4;
    font-family: 'Source Sans Pro', sans-serif;
    transform: rotate(6deg);
}

.result-box {
    display: inline-block;
    min-width: 100px;
    padding: 10px 15px 10px 0px;
    -webkit-text-stroke: 1px #fff;
}


.result .buttons-wrapper {
   clear: both;
}

.contribute-button {
    display: inline-block;
    width: 35px;
    height: 100%;
}

.contribute-button a {
    width: 100%;
    height: 100%;
    display: block;
    text-decoration: none;
    display: block;
}


.contribute:hover {
    opacity: .7;
}

.hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
}
